.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

.goBackButton {
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
}

.goBackButton:hover {
  background-color: #0056b3;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.movieImage {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.movieTitle {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.userScore {
  color: #007bff;
}



.genres {
  margin-top: 1rem;
}

.additionalInfo {
  margin-top: 2rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.navLink {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #0056b3;
}

@media screen and (min-width: 768px) {
  .movieImage {
    max-width: 25%;
    height: 25%;
  }
  
  .main {
    flex-direction: row;
    gap: 2rem;
  }
}
