.container {
  margin: 0 auto; 
  max-width: 1200px; 
  padding: 1rem;
}

.navbar {
  font-weight: bold;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.navLink {
  color: black;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  text-decoration: underline;
}

.navLink:active {
  color: red;
  text-decoration: underline;
}

.homePage {
  color: red;
}

.moviesPage {
  color: red;
}

.shadowLine {
  height: 5px;
  background: linear-gradient(to right, #007bff, red);
  transition: background 0.5s ease; 
  box-shadow: 5px 10px 18px #888888;
}
